.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}

@media (max-width: 680px) {
  .container {
    display: grid;
    grid-template-columns: 1fr ;
    margin: 5px;
  }
}
