.flex{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 680px) {
  .flex{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
